<div class="bg-primary banner d-flex justify-content-center align-items-center">
  <h1 class="text-white"><i class="fas fa-home"></i> Crear Propiedades</h1>
</div>
<div class="container mt-5">
  <div class="card p-4">
    <form action="/admin/propiedades/crear" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          name="titulo"
          placeholder="Título de la propiedad"
          required
        />
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea
          name="descripcion"
          id="descripcion"
          cols="30"
          rows="10"
          class="form-control"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input
          type="number"
          class="form-control"
          id="precio"
          name="precio"
          placeholder="Precio de la propiedad"
          required
        />
      </div>
      <div class="mb-3">
        <label for="pais" class="form-label">País</label>
        <input
          type="text"
          class="form-control"
          id="pais"
          name="pais"
          placeholder="País"
          required
        />
      </div>
      <div class="mb-3">
        <label for="localidad" class="form-label">Localidad</label>
        <input
          type="text"
          class="form-control"
          id="localidad"
          name="localidad"
          placeholder="Localidad"
          required
        />
      </div>
      <div class="mb-3">
        <label for="habitaciones" class="form-label">Habitaciones</label>
        <input
          type="number"
          class="form-control"
          id="habitaciones"
          name="habitaciones"
          placeholder="Cantidad de habitaciones"
          required
        />
      </div>
      <div class="mb-3">
        <label for="banios" class="form-label">Baños</label>
        <input
          type="number"
          class="form-control"
          id="banios"
          name="banios"
          placeholder="Cantidad de baños"
          required
        />
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Imagen de la propiedad</label>
        <input
          type="file"
          class="form-control"
          id="imagen"
          name="imagen"
        />
      </div>
      <div class="mb-3">
        <div class="form-check form-switch fs-5">
              <input class="form-check-input" type="checkbox"
            id="destacada"
            name="destacada"
            >
          <label class="form-check-label" for="flexCheckChecked">
            Destacada
          </label>
        </div>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
    {{/if}}
  </div>
</div>